<div  fxLayout="row wrap" 
      fxLayoutAlign="space-evenly stretch"
      style="margin-top: 1em">
      
  <mat-card *ngIf="cursos"
            fxFlex="0 1 calc(75% - 1em)"
            fxFlex.lt-md = "0 1 calc(100% - 2em)">
    <form #eventoForm="ngForm" [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <mat-card-header>
        <mat-card-title><h2>Editar Evento</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="row wrap"
                        fxLayout.lt-md="column"
                        fxLayoutAlign="space-evenly stretch">
        <input type="hidden" formControlName="idEventos">
  
        <mat-form-field appearance="fill" fxFlex = "0 1 calc(50% - 1em)">
          <mat-label>Curso a impartir</mat-label>
          <mat-select  placeholder="Curso a impartir" formControlName="curso" required>
            <mat-option>-Selecciona-</mat-option>
            <mat-option *ngFor="let c of cursos" [value]="c.idCursos" (click)="cursoS(c)">{{ c.cNombre }}</mat-option>
          </mat-select>
          <!--mat-error *ngIf="c_idcursos.hasError('required')">Please choose an c_idcursos</mat-error-->
        </mat-form-field>
  
        <mat-form-field appearance="fill" fxFlex = "0 1 calc(50% - 1em)">
          <mat-label>Instructor del evento</mat-label>
          <mat-select placeholder="Instructor del evento" formControlName="instructor" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let instructor of instructores" [value]="instructor.idInstructor">{{ instructor.iNombre+' '+instructor.iPaterno+' '+instructor.iMaterno }}</mat-option>
          </mat-select>
          <!--mat-hint>{{animalControl.value?.sound}}</mat-hint-->
        </mat-form-field>
  
        <mat-form-field appearance="fill" fxFlex = "0 1 calc(100% - 1em)">
          <mat-label>Descripcion del Evento</mat-label>
          <textarea matInput
                    required
                    formControlName="eDescripcion"></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex = "0 1 calc(100% - 1em)">
          <mat-label>Programa del Evento</mat-label>
          <textarea matInput
                    required
                    formControlName="ePrograma"></textarea>
        </mat-form-field>
        
        <mat-form-field appearance="fill" fxFlex = "0 1 calc(100% - 1em)">
          <mat-label>Fecha de Inicio</mat-label>
          <input matInput [matDatepicker]="fechaInicio" (focus)="fechaInicio.open()" placeholder="Fecha de Inicio" formControlName="eFechaInicio" required>
          <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
          <mat-datepicker #fechaInicio (closed)="input.blur()"></mat-datepicker>
        </mat-form-field>
        
        <mat-form-field appearance="fill" fxFlex = "0 1 calc(100% - 1em)">
          <mat-label>Fecha de Termino</mat-label>
          <input matInput [matDatepicker]="fechaTermino" (focus)="fechaTermino.open()" placeholder="Fecha de Termino" formControlName="eFechaTermino" required>
          <mat-datepicker-toggle matSuffix [for]="fechaTermino"></mat-datepicker-toggle>
          <mat-datepicker #fechaTermino (closed)="input.blur()"></mat-datepicker>
        </mat-form-field>
        
        <mat-form-field appearance="fill" appearance="fill" fxFlex = "0 1 calc(50% - 1em)">
          <mat-label>Hora de Entrada</mat-label>
          <input matInput placeholder="Horario del evento" formControlName="eHoraEntrada" type="time" required>
        </mat-form-field>

        <mat-form-field appearance="fill" appearance="fill" fxFlex = "0 1 calc(50% - 1em)">
          <mat-label>Hora de Salida</mat-label>
          <input matInput placeholder="Horario del evento" formControlName="eHoraSalida" type="time" required>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex = "0 1 calc(50% - 1em)">
          <mat-label>Lugar del evento</mat-label>
          <mat-select placeholder="Lugar del evento" formControlName="lugar" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let lugar of lugares" [value]="lugar.idLugar">{{ lugar.lNombre }}</mat-option>
          </mat-select>
          <!--mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
          <mat-hint>{{animalControl.value?.sound}}</mat-hint-->
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex = "0 1 calc(50% - 1em)">
          <mat-label>Capacidad</mat-label>
          <input matInput placeholder="Capacidad del evento" formControlName="eCapacidad" type="number" required>
        </mat-form-field>
        
        <p fxFlex = "0 1 calc(50% - 1em)">
          <!--mat-radio-group formControlName="eEstatus" required>  
            <mat-radio-button value="true">Activo</mat-radio-button>  
            <mat-radio-button value="false">Inactivo</mat-radio-button>  
          </mat-radio-group-->
          <mat-checkbox #estatus 
                        color="accent"
                        formControlName="eEstatus"
                        >Estatus Del Evento</mat-checkbox>
          <mat-error *ngIf="editForm.get('eEstatus').invalid && isValidFormSubmitted != null && !isValidFormSubmitted">  
            <span [hidden]="!estatus.indeterminate">Porfavor selecciona un estatus del evento!!!</span>  
          </mat-error>

          
        </p>
      </mat-card-content>
      <mat-divider></mat-divider>  
      <mat-card-actions fxLayout="row wrap"
                        fxLayoutAlign="space-evenly stretch">
        <button mat-raised-button type="reset" fxFlex = "0 1 calc(25% - 1em)">RESET</button>
        <button mat-raised-button color="primary" type="submit" fxFlex = "0 1 calc(70% - 1em)">GUARDAR CAMBIOS</button>
      </mat-card-actions>
      <mat-card-footer>
      </mat-card-footer>
    </form>
  </mat-card>

  <mat-card fxFlex="0 1 calc(75% - 1em)">
    <!--p>
      Form Value: {{ editForm.value | json }}
    </p-->
    <p>
      Form Status: {{ editForm.status }}
    </p>
  </mat-card>
</div>