@import '~@angular/material/theming';
@import '../../../styles.scss';

mat-card {
   // max-width: 350px;
    margin: 2em auto;
    padding: 0;
}

mat-card-header{
    padding: 16px;
    background-color: mat-color($sigecu-app-primary);
    color: white;
    display: flex;
    justify-content: center;
}

/*mat-card-title:host{
    margin: 0 auto;
}*/

mat-card-content{
    padding:  2em;
}

.full-width-input {
    width: 100%;
}