.example-card {
    //max-width: 400px;
}

mat-card{
    padding:  1em;
}

mat-card-footer{
    margin: 0;
}

mat-divider{
    position: relative !important;
    width: calc(100%) !important;
    margin: 0 auto;
    padding-bottom: 1em;
}