@import '~@angular/material/theming';
@import '../../../../../styles.scss';

.example-card {
    //max-width: 400px;
}

mat-card{
    padding:  1em;
}

mat-card-footer{
    margin: 0;
}

mat-divider{
    border-top-color: currentColor;
    //background-color: currentColor;
    position: relative !important;
    width: calc(100%) !important;
    margin: 0 auto;
    padding-bottom: 1em;
}

.mat-stroked-button{
    border: 2px solid !important;
    //background-color: currentColor;
}

.mat-stroked-button::before{
    
}