<mat-card class="example-card" *ngIf="evento" id="{{evento.idEventos}}">
    <mat-card-header>
      <mat-card-title>{{ evento.curso.cNombre }}</mat-card-title>
      <mat-card-subtitle><b>{{ 'Instructor: '+ evento.instructor.iNombre+' '+evento.instructor.iPaterno+' '+evento.instructor.iMaterno }}</b></mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <p>
        {{ evento.eDescripcion }}
      </p>
      <p>
        {{evento.ePrograma}}
      </p>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-footer>
      <b>
          {{ 'Horario: '+ evento.eHorario }}
          <br>
          Fecha:  {{evento.eFechaInicio |  date: 'dd MMMM' }} al {{ evento.eFechaTermino | date:'longDate' }}
          <br>
          {{ 'Capacidad: '+ evento.eCapacidad }}
          <br>
          {{ 'Lugar: ' + evento.l_idlugar }}
      </b>
      <p>
        <button mat-raised-button color="warn" (click)='deleteEvento()'>Eliminar</button>
      </p>
    </mat-card-footer>
  </mat-card>